.featured-set-img {
  max-width: 40px;
}

.sets-table {
  .thead-light {
    th {
      background-color: #fff;
      padding: 14px 24px;
    }
  }
}

.votes-table {
  .thead-light {
    th {
      background-color: #fff;
      padding: 14px 24px;
      border-top: none;
    }
  }
}

.bg-polygon {
  position: absolute;
  right: 0;
  bottom: 0;
}
